 @import url(http://fonts.googleapis.com/css?family=Rosario);
 @import url(http://fonts.googleapis.com/css?family=Oxygen);

 $sansFontFamily: Oxygen, Helvetica, Arial, sans-serif;
 $serifFontFamily: Oxygen, 'Times New Roman', Times, serif;


 @import 'twitter/bootstrap';
 @import 'bootstrap/glyphicons';

body {
	font-family: $sansFontFamily;
  padding-top: 10px;
  padding-bottom: 20px;
}

legend {
	margin-top: 50px;
	color: #ff6600;
	font-weight: 700;
}

.thumbnail {
	margin-bottom: 10px;
}

.links {
	margin: 45px 0 35px 78px;
}


.footer {
  font-family: $serifFontFamily;
  margin-top: 40px; 
  padding-top: 8px; 
	border-top: 1px solid #ccc;
	background-color: darken(#fff, 3%);
	.footer2 {
		margin-top: 20px; 
		padding-top: 5px; 
		border-top: 1px solid #ccc;
	}
}